body {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 1vw + 0.3rem, 1.5rem);
}

.background {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: #FFFFFF; /* можно задать фон для лучшей видимости */
    flex-wrap: wrap;
}

.btn,
header .nav-link {
    font-size: clamp(0.8rem, 1vw + 0.2rem, 1.4rem) !important;
    padding: clamp(0.3rem, 0.6vw, 0.8rem) clamp(0.6rem, 1.2vw, 1.5rem) !important;
}

.greetings {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    width: 100%;
}

.hidden-field {
    display: none !important; /* !important гарантирует, что он переопределит другие стили */
}

#regAuthDiv {
  display: flex;
  align-items: center;
}

#regAuthDiv a,
#logOutBtn {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    margin-left: 0.5rem;
}